[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.33.0"
plotly = "*"
biopython = "*"
natsort = "*"
numpy = "*"
pandas = "*"
pytorch-lightning = "*"
scikit-learn = "*"
scipy = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
tabulate = "*"
wget = "*"

[requires]
python_version = "3.11.9"
